      /* Basic Styles */
      .mobile-nav {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: space-between;
        z-index: 999999999;
        display: none;
        padding: 15px 0;
    }

    .mobile-ul {
        list-style-type: none;
        padding: 0;
        margin: 0;
        display: flex;
        /* Display items horizontally on large screens */
    }

    .mobile-ul li {
        position: relative;
    }

    /* Hide the logo's margin if in mobile view */
    .navbar-brand img {
        max-height: 40px;
    }

    /* Mobile Menu Toggle Button on Right Side */
    .mobile-toggle {
        display: none;
        /* Hide by default on large screens */
        flex-direction: column;
        cursor: pointer;
        position: absolute;
        top: 20px;
        right: 20px;
    }

    .mobile-toggle span {
        width: 25px;
        height: 4px;
        margin: 2px 0;
        background-color: #333;
    }

    /* Hide submenu by default */
    .mobile-ul ul {
        display: none;
        list-style-type: none;
        padding: 0;
        margin: 0;
    }

    /* Show submenu when active */
    .mobile-drop-down.active>ul {
        display: block;
    }

    /* Mobile view styles */

    @media (max-width: 991px) {
        .mobile-nav{
            display: block;
        }
        .mobile-ul {
            display: none;
            /* Hide navigation by default */
            position: absolute;
            top: 60px;
            right: 0;
            width: 100%;
            background-color: #fff;
            padding-top: 20px;
            padding-left: 2rem;
        }

        .mobile-nav.open .mobile-ul {
            display: block;
            /* Show the menu when it's open */
        }

        .mobile-toggle {
            display: flex;
            /* Show hamburger icon on small screens */
        }

        /* Menu Items (vertical on mobile) */
        .mobile-ul li {
            width: 100%;
        }

        /* Submenu items (vertical as well) */
        .mobile-drop-down ul {
            display: none;
        }

        .mobile-drop-down.active>ul {
            display: block;
        }

        .mobile-drop-down>a {
            display: block;
            padding: 10px;
            text-decoration: none;
        }

        .mobile-drop-down ul li a {
            padding-left: 20px;
            background-color: #fff;
        }
    }

/* ----------------------------- */
.section.cta .cta-info p{
    display: flex;
    align-items: center;
    justify-content: center;
}
.section.cta .cta-info p img{
    display: block;
    width: 15%;
}
/* ------------------------------------------- */
/* swiper js */
/* ------------------------------------------- */
.wrapper {
	width: 100%;
	overflow: hidden;
}
.photobanner {
	position: relative;
	height: 100px;
	margin-bottom: 130px;
	display: flex;
	width: 100%;
}

.photobanner img {
  margin: 0px 25px;
  box-shadow: 2px 2px 8px #8a8a8a;
}

.photobanner {
  animation: bannermove 50s linear infinite alternate-reverse;
}

@keyframes bannermove {
  from {
    left: 0px;
  }
  to {
    left: -2700px;
  }
}
/* ------------------------------------------- */
/* End swiper js */
/* ------------------------------------------- */

/* ------------------------------------------- */
/* college slider heading */
/* ------------------------------------------- */
.college-slider{
    text-align: center;
    padding: 15px 0;
}
.college-slider h2{
    font-size: 25x;
    color: #2E8ECE;
}
.college-slider p{
    font-size: 18px;
    font-weight: 600;
}
/* ------------------------------------------- */
/* End college slider heading */
/* ------------------------------------------- */

/* ------------------------------------------- */
/*  Map*/
/* ------------------------------------------- */
.map-contact iframe{
    width: 100%;
    height: 450px;
    border: none;
    outline: none;
    border-radius: 10px;
}
/* ------------------------------------------- */
/*  End Map */
/* ------------------------------------------- */

/* ------------------------------------------- */
/*  Study Abroad */
/* ------------------------------------------- */
.countries{
    margin-bottom: 100px;
}
.countries h2{
    font-size: 35px;
    color: #2E8ECE;
    margin-bottom: 15px;
}
.stduy-abroad{
    margin: 15px 0;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.stduy-abroad img{
    display: block;
    width: 100%;
    border-radius: 10px;
    transition: all 0.3s ease-in;
    box-shadow: 0 0 3px #000;
}
.stduy-abroad img:hover{
    transform: scale(1.03);
}
.stduy-abroad h5{
    position: absolute;
    bottom: 0;
    font-size: 20px;
    font-weight: 600;
    color: #fff;
    z-index: 9;
    padding-bottom: 10px;
}

/* ------------------------------------------- */
/*  End Study Abroad */
/* ------------------------------------------- */

/* ------------------------------------------- */
/*  mission vision icon */
/* ------------------------------------------- */

.feature-box-8 a{
    display: flex;
    align-items: center;
    justify-content: center;
}

.feature-box-8 a i{
    padding-right: 5px;
}
/* ------------------------------------------- */
/* End mission vision icon */
/* ------------------------------------------- */

/* ------------------------------------------- */
/* Ireland Banner Title */
/* ------------------------------------------- */
    .banner-title h1{
        font-size: 5rem;
    }
    .banner-title h1.main-h1{
        margin-bottom: 5rem !important;
    }
    .banner-title p{
        padding-bottom: 15px;
    }
    @media (max-width: 776px){
        .banner-title h1{
            font-size: 3rem;
        }
    }
/* ------------------------------------------- */
/* End Ireland Banner Title */
/* ------------------------------------------- */
